/*Place the Header/Title section across the top of the site with a border and appropriate background color. */
header {
  border-style: solid;
  border-width: thin;
  border-color: white;
  border-radius: 50px 15px;
  padding: 12px;
  background-color: #555152;
}

h1 {
  color: white;
  font-size: 24pt;
}

/*Provide an appropriate background color for the main content section*/
/*Select appropriate fonts & colors for text on the site.*/
body {
  background-color: #99173C;
  font-family: Helvetica, sans-serif;
  color: black;
}

/*Use CSS styling to hide the bullet-points of the unordered lists in the site.*/
ul {
  list-style-type: none;
}

/*Make the navigation links display different colors when the mouse rolls over the link.*/
a:hover {
  color: #2E2633;
}

a {
  text-decoration: none;
  color: white;
}

/*use CSS styling to make all the images the same height*/
img {
  height: 400px;
}

/*Place the Footer section across the entire bottom of the site with a border and an appropriate background color*/
footer {
  border-style: solid;
  border-color: white;
  border-width: thin;
  border-radius: 15px 50px;
  padding: 12px;
  background-color: #555152;
}
